.footer {
    padding-left: 50px;
    background-color: #303838;
    color: white;
}

Navbar {
    background-color: #303838;
}

.links {
    margin: 30px;
}

p {
    margin-top: 20px;
    color: white;
    margin-left: 30px;
}

.id {
    padding-left: 120px;
}

.logo {
    padding-left: 670px;
}
