.image {
    padding-left: 200px;
}

p {
    color: black;
}

.vision {
    background-color: thistle;
    color: black;
}

.mission {
    background-color: lightcoral;
    color: black;
}

.anti-ragging {
    background-color: thistle;
    color: black;
}
